{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ teacher }}
{% endblock title %}

{% block body %}

    <h1>{{ teacher }} </h1>

    <p>Email: {{ teacher.email_address }}</p>
    <p>Phone: {{ teacher.phone_number }}</p>
    <p>Room: {{ teacher.room_number }}</p>
    <p>Profile Photo:</p>
    {% if teacher.profile_picture %}
        <img src="{{ teacher.profile_picture.url }}" alt="profile-photo" height="150px" width="150px"/>
    {% else %}
        <img src="{% static 'placeholder.png' %}" alt="placeholder" height="150px" width="150px"/>
    {% endif %}

    <p>Subjects:</p>
    {% for subject in teacher.subjects.all %}
        <p> - {{ subject }} </p>
    {% endfor %}

{% endblock body %}

